body{
    display: flex;
    margin: 0;
    padding: 0;
}
#map {
    position: relative;
    height: 800px;
    width: 1000px;
    border: solid 3px rgb(158, 153, 153);
    margin-top: 50px;
    left: 2%;
    border-radius: 24px;
    box-shadow: 5px 10px 18px #888888;
}

.route-data{
    position: relative;
    height: 800px;
    width: 600px;
    border: solid 3px rgb(158, 153, 153);
    margin-top: 50px;
    text-align: center;
    left: 3%;
    border-radius: 24px;
    box-shadow: 5px 10px 18px #888888;
}

.main-form{
    height: 400px;
}

.car-select{
    margin-top: 50px;
    margin-left: 30px;
    width: 50px;
}

.date-form{
    margin-left: 30px;
}

.select-time{
    margin-left: 30px;
}

.time-form {
    margin-left: 30px;
}

.start-time-box{
    margin-top: 5px;
    border: solid 3px rgb(158, 153, 153);
    border-radius: 10px;
    margin-left: 30px;
    padding-right: 30px;
    padding-bottom: 5px;
    box-shadow: 5px 10px 18px #888888;
}

.end-time-box{
    margin-top: 5px;
    border: solid 3px rgb(158, 153, 153);
    border-radius: 10px;
    margin-left: 30px;
    padding-right: 30px;
    padding-bottom: 5px;
    box-shadow: 5px 10px 18px #888888;
}

.submit-btn{
    margin-top: 15px;
    margin-left: 30px;
}

.VW-box{
    margin-top: 60px;
    position:absolute;
    margin-left: 220px;
    z-index: 2;
}

.Volvo-box{
    margin-top: 60px;
    position:absolute;
    margin-left: 320px;
    z-index: 2;
}

.Golf-box{
    margin-top: 60px;
    position:absolute;
    margin-left: 420px;
    z-index: 2;
}